.container{
    margin:20px;
}

.navbar{
    background:rgb(5, 5, 104);
    width:100%px;
    height: 40px;
}

.secondbar{
    background: rgb(5,5,104);
    width:100%;
    height:90px;
    margin: 20px 0;
    
}

.articles{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.articles div{
    width: 380px;
    height: 200px;
    background: rgb(5, 5, 104);
}

.footer{
    background: rgb(5, 5, 104);
    width:100%;
    height: 40px;

    
}