.rowstyle{
    background-color: rgba(219, 219, 219, 0.83);
    color: rgb(0, 0, 0);
    height:50px;
}

.lastitem{
    background-color: rgb(58, 207, 41);
    color:white;
    font-weight: 600;
}

.singlerow{
    background-color: rgb(62, 60, 60);
    color:rgb(236, 233, 233);
    height:50px;
    padding:10px 0 10px 0;
    font-size: 30px;
}

.border-style{
   
   border:0.5px solid rgb(138, 136, 136)
}

.secondstyle{
    background-color: rgb(188, 187, 187) ;
}

.textstyle{
    padding-top: 10px;
    padding-bottom: 10px;
}

